<div class="container">
  <h1>Welcome to Almost Hacker News!</h1>
  <%unless Post.all.empty?%>
    <% counter = 0 %>
    <% Post.all.each do |p|%>
      <p><%= counter += 1 %>. <a href="<%= p.url %>"><%= p.title %></a> (<%= get_domain(p) %>)</p>
      <p>Created by: <%= p.author.user_name if p.author%> at <%= p.created_at %> | <%= p.comments.count%></p>
      <a href='/posts/<%=p.id%>'>comments</a>
    <% end %>
  <%end%>

  <a href='/login'>login</a>

  <a href='/posts/new'>create post</a>
</div>
